<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>外汇网_外汇开户交易平台_专业外汇投资门户网站</title>
<meta name="keywords" content="外汇网|外汇交易平台|外汇开户|外汇平台|外汇网站|外汇交易" />
<meta name="description" content="外汇网致力于为投资者提供安全可靠的国际外汇交易开户平台，全面的汇市投资资讯和外汇学习资料，专业的名家每日行情分析和操作建议，外汇交易软件下载和外汇模拟账户申请，各大直盘和交叉盘货币最新报价以及价格走势等服务。
" />
<link rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/style/style.css"   />
<script type="text/javascript" src="__PUBLIC__/js/top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.superslide.2.1.1.js"></script>
</head>


<body>


<div class="top_line">
	<div class="top_line_c">
		<div class="top_line_we"><b>外汇网</b> 欢迎您！</div>
		<div class="top_line_ri"><a href="/">开设真实账户</a>&nbsp;|&nbsp;<a href="/">申请模拟账户</a></div>
	</div>
</div>

<div class="header">
	<div class="w">
		<h1><a class="logo" href="http://www.waihuiwang.net" title="外汇网"><img src="__PUBLIC__/images/logo.gif" alt="外汇网" title="外汇网" ></a></h1>
		<div class="tel"><strong>财富专线：</strong><span>021-61994198</span></div>		
		<div class="code2 fix">
			<img src="__PUBLIC__/images/code2_2.gif">
		</div>
	</div>
</div>

<div class="nav">
	<div class="w">
		<ul id="nav">
			<li><a href="http://www.waihuiwang.net">首页</a></li>
			<li class=''><a href="http://www.waihuiwang.net/about/">关于我们</a>
				<ul>
					
				</ul>				
			</li><li class=''><a href="http://www.waihuiwang.net/zixun/">外汇行业资讯</a>
				<ul>
					
				</ul>				
			</li><li class=''><a href="http://www.waihuiwang.net/xueyuan/">外汇投资学院</a>
				<ul>
					
					<li><a href="http://www.waihuiwang.net/xueyuan/jiqiao/">投资技巧</a></li>
					
					<li><a href="http://www.waihuiwang.net/xueyuan/guandian/">机构观点</a></li>
					
				</ul>				
			</li><li class=''><a href="http://www.waihuiwang.net/wenda/">疑难问答</a>
				<ul>
					
				</ul>				
			</li><li class=''><a href="http://www.waihuiwang.net/ruanjian/">软件下载</a>
				<ul>
					
				</ul>				
			</li><li class=''><a href="http://www.waihuiwang.net/lianxi/">联系我们</a>
				<ul>
					
				</ul>				
			</li><li class=''><a href="http://www.waihuiwang.net/kaihu/">在线开户</a>
				<ul>
					
					<li><a href="http://www.waihuiwang.net/kaihu/yuyue/">模拟账户</a></li>
					
					<li><a href="http://www.waihuiwang.net/kaihu/shipanzhanghu/">实盘账户</a></li>
					
				</ul>				
			</li>
		</ul>
	</div>
</div>




<div class="slider"> 
	<a href="javascript:;" class="prev"></a>
		<ul>
			<li><img src="__PUBLIC__/images/banner01.jpg" /></li>
			<li><img src="__PUBLIC__/images/banner02.jpg" /></li>
		</ul>
	<a href="javascript:;" class="next"></a>
	<div class="i-dailog">
		<div class="inner">
			<p class="i-1">投资有风险 入市需谨慎</p>
			<p class="i-2">给你100万，你能赚多少？</p>
			<p><a href="javascript:;" class="i-3 appointment">☛ 5秒免费预约开户 ☚</a></p>
			<p><a href="/" target="_blank" class="i-4">注册模拟账户</a></p>
			<p><a href="/" target="_blank" class="i-5">注册真实账户</a></p>
		</div>
	</div>
</div>

<div class="section">
	<div class="w">
		<div class="advantage fix">
			<dl>
				<dt><a href="/"><img src="__PUBLIC__/images/ico_1.png" /></a></dt>
				<dd>
					<p class="i-title">专注专业</p>
					<p class="i-desc">致力于外汇投资5年<br/>
					已服务30000投资者</p>
				</dd>
			</dl>
			<dl>
				<dt><a href="/"><img src="__PUBLIC__/images/ico_2.png" /></a></dt>
				<dd>
					<p class="i-title">领军品牌</p>
					<p class="i-desc">国际正规顶尖平台<br/>
					接受最严格监管查证</p>
				</dd>
			</dl>
			<dl>
				<dt><a href="/"><img src="__PUBLIC__/images/ico_3.png" /></a></dt>
				<dd>
					<p class="i-title">高额奖励</p>
					<p class="i-desc">高额奖励返佣支持<br/>
					大幅降低成本</p>
				</dd>
			</dl>
			<dl>
				<dt><a href="/"><img src="__PUBLIC__/images/ico_4.png" /></a></dt>
				<dd>
					<p class="i-title">名师助跑</p>
					<p class="i-desc">特约名师一对一指导<br/>
					一步直达盈利</p>
				</dd>
			</dl>
			<dl>
				<dt><a href="/"><img src="__PUBLIC__/images/ico_5.png" /></a></dt>
				<dd>
					<p class="i-title">安全保障</p>
					<p class="i-desc">5重保障系统<br/>
					自主操作资金安全</p>
				</dd>
			</dl>
		</div>
	</div>
</div>


<div class="section">
	<div class="w">
		<div class="mod">
			<div class="hd"><a target="_blank" href="http://www.waihuiwang.net/zixun/">更多…</a>
				<h2>外汇行业资讯</h2>
			</div>
			<div class="bd fix">
				<div class="clist fl"> 
					<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/zixun/20170616283.html"  title="外汇交易网：加息后全球货币政策是否面临新拐点"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇交易网：加息后全球货币政策是否面临新拐点" title="外汇交易网：加息后全球货币政策是否面临新拐点"/></a></dt>
						<dd>
						<p><h3  class="i-title"><a target="_blank" href="http://www.waihuiwang.net/zixun/20170616283.html"  title="外汇交易网：加息后全球货币政策是否面临新拐点">外汇交易网：加息后全球货币政策是否面临新拐点</a></h3></p>
						<p class="i-desc">相对于加息这一传统货币政策，这次更值得关注的是美联储的非传统货币政策，即将缩表计划提上日程。回顾前些年备受热议的美联储量化宽松政策（QE），如今的缩表可谓QE的<a href="http://www.waihuiwang.net/zixun/20170616283.html">【更多】</a></p>
						<p class="i-date">2017-06-16</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/zixun/20170615282.html"  title="外汇开户网：耶伦女王披上“鹰”袍 市场经历疯狂一夜"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇开户网：耶伦女王披上“鹰”袍 市场经历疯狂一夜" title="外汇开户网：耶伦女王披上“鹰”袍 市场经历疯狂一夜"/></a></dt>
						<dd>
						<p><h3  class="i-title"><a target="_blank" href="http://www.waihuiwang.net/zixun/20170615282.html"  title="外汇开户网：耶伦女王披上“鹰”袍 市场经历疯狂一夜">外汇开户网：耶伦女王披上“鹰”袍 市场经历疯狂一夜</a></h3></p>
						<p class="i-desc">备受关注的美联储决议超级之夜果然引发市场剧烈波动。美联储如期实施加息，但声明并不是预期的那么鸽派，同时还公布了缩表计划方面的更多细节。尤其令人意外的是，有<a href="http://www.waihuiwang.net/zixun/20170615282.html">【更多】</a></p>
						<p class="i-date">2017-06-15</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/zixun/20170614279.html"  title="中国外汇网：美联储大戏即将上演"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="中国外汇网：美联储大戏即将上演" title="中国外汇网：美联储大戏即将上演"/></a></dt>
						<dd>
						<p><h3  class="i-title"><a target="_blank" href="http://www.waihuiwang.net/zixun/20170614279.html"  title="中国外汇网：美联储大戏即将上演">中国外汇网：美联储大戏即将上演</a></h3></p>
						<p class="i-desc">【中国与巴拿马建立外交关系】外交部长王毅13日在北京与巴拿马副总统兼外长德圣马洛举行会谈。会谈后，两国外长签署了《中华人民共和国和巴拿马共和国关于建立外交关系<a href="http://www.waihuiwang.net/zixun/20170614279.html">【更多】</a></p>
						<p class="i-date">2017-06-14</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/zixun/20170613277.html"  title="外汇金融：美英日三国央行将搅动风云"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇金融：美英日三国央行将搅动风云" title="外汇金融：美英日三国央行将搅动风云"/></a></dt>
						<dd>
						<p><h3  class="i-title"><a target="_blank" href="http://www.waihuiwang.net/zixun/20170613277.html"  title="外汇金融：美英日三国央行将搅动风云">外汇金融：美英日三国央行将搅动风云</a></h3></p>
						<p class="i-desc">本周，以美联储、英国央行及日本央行为首的多国央行将陆续公布利率决议，其中美联储本周可能再度加息，但市场对2017年加息三次充满怀疑；英国央行料按兵不动，市场关注<a href="http://www.waihuiwang.net/zixun/20170613277.html">【更多】</a></p>
						<p class="i-date">2017-06-13</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/zixun/20170612276.html"  title="外汇开户：美元连涨三日后迎“央行周”"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇开户：美元连涨三日后迎“央行周”" title="外汇开户：美元连涨三日后迎“央行周”"/></a></dt>
						<dd>
						<p><h3  class="i-title"><a target="_blank" href="http://www.waihuiwang.net/zixun/20170612276.html"  title="外汇开户：美元连涨三日后迎“央行周”">外汇开户：美元连涨三日后迎“央行周”</a></h3></p>
						<p class="i-desc">北京时间上周五（6月9日）清晨公布的英国大选结果显示，英国现任首相特雷莎梅领导的保守党在当天举行的英国大选中领先，但无政党赢得议会过半数席位。这一结果可能让英<a href="http://www.waihuiwang.net/zixun/20170612276.html">【更多】</a></p>
						<p class="i-date">2017-06-12</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/zixun/20170612275.html"  title="外汇交易平台：现货黄金“超级央行周”来袭！"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇交易平台：现货黄金“超级央行周”来袭！" title="外汇交易平台：现货黄金“超级央行周”来袭！"/></a></dt>
						<dd>
						<p><h3  class="i-title"><a target="_blank" href="http://www.waihuiwang.net/zixun/20170612275.html"  title="外汇交易平台：现货黄金“超级央行周”来袭！">外汇交易平台：现货黄金“超级央行周”来袭！</a></h3></p>
						<p class="i-desc">现货黄金价格一度飙升至七个月最高，缘于美元走软和一系列政治经济事件引发的避险，但随着避险情绪的消退，再加上市场聚焦下周的美联储利率决议，金价持续回落。分析<a href="http://www.waihuiwang.net/zixun/20170612275.html">【更多】</a></p>
						<p class="i-date">2017-06-12</p>
						</dd>
					</dl>

				</div>
				<div class="clist-ad fr" style="padding-bottom:15px;  background-color:#fff;"><img src="__PUBLIC__/images/ads5.jpg" /> </div>
				<div class="clist-ad fr" style="padding-bottom:15px; background-color:#fff;"> <a target="_blank" href="/" ><img src="__PUBLIC__/images/ads3.jpg" /></a> </div>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="w">
		<div class="mod">
			<div class="hd"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/">更多…</a>
				<h2>外汇投资学院</h2>
			</div>
			<div class="bd fix">
				<div class="clist fl"> 
					<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170609273.html"  title="外汇网站：EA交易利与弊必知事项"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇网站：EA交易利与弊必知事项" title="外汇网站：EA交易利与弊必知事项"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170609273.html"  title="外汇网站：EA交易利与弊必知事项">外汇网站：EA交易利与弊必知事项</a></h3></p>
							<p class="i-desc">1、不要太相信回测（Backtest）。 以MT4/MT5平台为例，一般的回测会给你用到分钟级别的数据，并会让你自己选择是按收盘价还是平均价来进行回测，这种回测利用了大量的未来尚<a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170609273.html">【更多】</a></p>
							<p class="i-date">2017-06-09</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170603260.html"  title="外汇平台：头肩型的基本构成及判断"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇平台：头肩型的基本构成及判断" title="外汇平台：头肩型的基本构成及判断"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170603260.html"  title="外汇平台：头肩型的基本构成及判断">外汇平台：头肩型的基本构成及判断</a></h3></p>
							<p class="i-desc">相信大家对头肩形态都很熟悉。头肩形态都必须包括头部、左肩和右肩。经过笔者整理，构成完整的头肩形态一般需要四个基本要素： 头肩顶：①原有趋势是上行趋势；②多空<a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170603260.html">【更多】</a></p>
							<p class="i-date">2017-06-03</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170530249.html"  title="外汇排名大全：交易四大死神，避开者为王"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇排名大全：交易四大死神，避开者为王" title="外汇排名大全：交易四大死神，避开者为王"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170530249.html"  title="外汇排名大全：交易四大死神，避开者为王">外汇排名大全：交易四大死神，避开者为王</a></h3></p>
							<p class="i-desc">死神 1 逆势：排行老大，本性凶残，盖世无敌，不给任何机会，直接秒杀 死神 2 重仓：排行老二，杀人之前总会让人爽一下，然后直接干掉，非常利索 死神 3 不止损：排行老三<a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170530249.html">【更多】</a></p>
							<p class="i-date">2017-05-30</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170510223.html"  title="外汇开户平台：三大特点看明外汇市场"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇开户平台：三大特点看明外汇市场" title="外汇开户平台：三大特点看明外汇市场"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170510223.html"  title="外汇开户平台：三大特点看明外汇市场">外汇开户平台：三大特点看明外汇市场</a></h3></p>
							<p class="i-desc">（1）有市无场 外汇买卖则是通过没有统一操作市场的行商网络进行的，它不像股票交易有集中统一的地点。但是，外汇交易的网络却是全球性的，并且形成了没有组织的组织，<a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170510223.html">【更多】</a></p>
							<p class="i-date">2017-05-10</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170505216.html"  title="外汇开户：二十一世纪的21条永恒交易规则"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇开户：二十一世纪的21条永恒交易规则" title="外汇开户：二十一世纪的21条永恒交易规则"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170505216.html"  title="外汇开户：二十一世纪的21条永恒交易规则">外汇开户：二十一世纪的21条永恒交易规则</a></h3></p>
							<p class="i-desc">(1) 每次入市买卖，损失不应超过买卖资本的十分之一 (2) 永远设下止损位 (3) 永不过量买卖 (4) 永不让所持仓盘转赢为亏 (5) 不逆市而为 (6) 有怀疑，即平仓离场 (7) 只在活跃的市<a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170505216.html">【更多】</a></p>
							<p class="i-date">2017-05-05</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170425204.html"  title="外汇开户：频繁进出会增大交易成本"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇开户：频繁进出会增大交易成本" title="外汇开户：频繁进出会增大交易成本"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170425204.html"  title="外汇开户：频繁进出会增大交易成本">外汇开户：频繁进出会增大交易成本</a></h3></p>
							<p class="i-desc">做外汇实盘买卖需要付出一定的交易成本，即银行报出的买入价和卖出价之间的点差，点差越大，成本就越高。目前各银行的双边交易点差一般在16个基点~30个基点之间，也就是<a target="_blank" href="http://www.waihuiwang.net/xueyuan/20170425204.html">【更多】</a></p>
							<p class="i-date">2017-04-25</p>
						</dd>
					</dl>

				</div>
				<div class="clist-ad fr" style="padding-bottom:15px; background-color:#fff;"> <img src="__PUBLIC__/images/ads4.jpg" /> </div>
				<div class="clist-ad fr" style="padding-bottom:15px; background-color:#fff;"> <img src="__PUBLIC__/images/ads1.jpg" /> </div>
			</div>
		</div>
	</div>
</div>



<div class="section">
	<div class="w">
		<div class="grid01 fix">

			<div class="cols">
				<div class="mod">
					<div class="hd"><a target="_blank" href="http://www.waihuiwang.net/hangqing/" >更多…</a>
						<h2>行情操作建议</h2>
					</div>
					<div class="bd">
						<div class="alist"> 
						<dl>
							<dt><a target="_blank" href="http://www.waihuiwang.net/hangqing/20170616284.html"  title="外汇开户：中国人民银行授权中国外汇交易中心公布"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇开户：中国人民银行授权中国外汇交易中心公布" title="外汇开户：中国人民银行授权中国外汇交易中心公布" /></a></dt>
							<dd>
								<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/hangqing/20170616284.html"  title="外汇开户：中国人民银行授权中国外汇交易中心公布">外汇开户：中国人民银行授权中国外汇交易中心公布</a></h3></p>
								<p class="i-desc">中国人民银行授权中国外汇交易中心公布，2017年6月16日银行间外汇市场人民币汇率中间价为：1美元<a href="http://www.waihuiwang.net/hangqing/20170616284.html">【更多】</a></p>
								<p class="i-date">2017-06-16</p>
							</dd>
						</dl>

						<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/hangqing/20170616284.html"  title="外汇开户：中国人民银行授权中国外汇交易中心公布">外汇开户：中国人民银行授权中国外汇交易中心公布</a></h3></li>
						</ul>
<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/hangqing/20170615281.html"  title="外汇交易网：耶伦女王披上“鹰”袍 市场经历疯狂一夜">外汇交易网：耶伦女王披上“鹰”袍 市场经历疯狂一夜</a></h3></li>
						</ul>
<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/hangqing/20170615280.html"  title="外汇开户网：美联储加息后，中国央行会跟进操作吗？">外汇开户网：美联储加息后，中国央行会跟进操作吗？</a></h3></li>
						</ul>
<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/hangqing/20170614278.html"  title="外汇网交易：加息风暴来袭美元和黄金罕见同跌">外汇网交易：加息风暴来袭美元和黄金罕见同跌</a></h3></li>
						</ul>

						</div>
					</div>
				</div>
			</div>
		  
			<div class="colm">
				<div class="mod">
					<div class="hd"><a target="_blank" href="http://www.waihuiwang.net/wenda/" >更多…</a>
						<h2>疑难问答</h2>
					</div>
					<div class="bd">
						<div class="alist"> 
						<dl>
							<dt><a target="_blank" href="http://www.waihuiwang.net/wenda/20170406175.html"  title="外汇网：从现货转做期货有哪些需要注意的呢？"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="外汇网：从现货转做期货有哪些需要注意的呢？" title="外汇网：从现货转做期货有哪些需要注意的呢？" /></a></dt>
							<dd>
								<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/wenda/20170406175.html"  title="外汇网：从现货转做期货有哪些需要注意的呢？">外汇网：从现货转做期货有哪些需要注意的呢？</a></h3></p>
								<p class="i-desc">1、现货没有交割而期货需要交割，投资者注意在交给之前平仓 2、现货是国内市场，行情不稳定；而<a href="http://www.waihuiwang.net/wenda/20170406175.html">【更多】</a></p>
								<p class="i-date">2017-04-06</p>
							</dd>
						</dl>

						<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/wenda/20170406175.html"  title="外汇网：从现货转做期货有哪些需要注意的呢？">外汇网：从现货转做期货有哪些需要注意的呢？</a></h3></li>
						</ul>
<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/wenda/20170401172.html"  title="外汇网站：MT4软件下载地址">外汇网站：MT4软件下载地址</a></h3></li>
						</ul>
<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/wenda/20170330168.html"  title="外汇开户：当天出入金有没有上额限制？">外汇开户：当天出入金有没有上额限制？</a></h3></li>
						</ul>
<ul>
							<li><h3 class="xiaobiaoti"><a target="_blank" href="http://www.waihuiwang.net/wenda/20170330167.html"  title="外汇平台出入金有费用吗？">外汇平台出入金有费用吗？</a></h3></li>
						</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--方块栏目部分结束，如需更多可直接复制-->



<div class="section">
	<div class="w">
		<div class="mod">
			<div class="hd"><a target="_blank" href="http://www.waihuiwang.net/dongtai/">更多…</a>
				<h2>交易平台动态</h2>
			</div>
			<div class="bd fix">
				<div class="clist fl"> 
					<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xinwen/20170608270.html"  title="GKFX外汇赞助出席2017中经金融科技高峰论坛"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="GKFX外汇赞助出席2017中经金融科技高峰论坛" title="GKFX外汇赞助出席2017中经金融科技高峰论坛"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xinwen/20170608270.html"  title="GKFX外汇赞助出席2017中经金融科技高峰论坛">GKFX外汇赞助出席2017中经金融科技高峰论坛</a></h3></p>
							<p class="i-desc">6月6日，GKFX捷凯赞助《中国经营报》2017年中经金融科技高峰论坛在北京举行。GKFX大中华区总裁王宇扬（Kevin Wang）和首席运营官王冀平（Jason Wang）受邀出席了会议。 本次论坛云<a href="http://www.waihuiwang.net/xinwen/20170608270.html">【更多】</a></p>
							<p class="i-date">2017-06-08</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/xinwen/20170607266.html"  title="AUSFOREX MetaTrader 5 正式上线！"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="AUSFOREX MetaTrader 5 正式上线！" title="AUSFOREX MetaTrader 5 正式上线！"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/xinwen/20170607266.html"  title="AUSFOREX MetaTrader 5 正式上线！">AUSFOREX MetaTrader 5 正式上线！</a></h3></p>
							<p class="i-desc">为帮助广大客户更好地了解和使用 MetaTrader 5，请您参阅以下简介： 1：MetaTrader 5 交易平台为客户提供了主流金融市场最强大的交易平台，平台还提供了适用于交易所的单边持仓<a href="http://www.waihuiwang.net/xinwen/20170607266.html">【更多】</a></p>
							<p class="i-date">2017-06-07</p>
						</dd>
					</dl>
<dl>
						<dt><a target="_blank" href="http://www.waihuiwang.net/gonggao/20170531255.html"  title="GKFX外汇开户：端午假期客服值班安排"><img src="http://www.waihuiwang.net/images/defaultpic.gif" alt="GKFX外汇开户：端午假期客服值班安排" title="GKFX外汇开户：端午假期客服值班安排"/></a></dt>
						<dd>
							<p><h3 class="i-title"><a target="_blank" href="http://www.waihuiwang.net/gonggao/20170531255.html"  title="GKFX外汇开户：端午假期客服值班安排">GKFX外汇开户：端午假期客服值班安排</a></h3></p>
							<p class="i-desc">尊敬的客户， 您好! GKFX捷凯金融恭祝您端午安康！ 为了满足客户假日期间的答疑需求，GKFX捷凯金融特为您安排了假期值班客服支持。 客服值班时间： 2017年5月27日（周六） <a href="http://www.waihuiwang.net/gonggao/20170531255.html">【更多】</a></p>
							<p class="i-date">2017-05-27</p>
						</dd>
					</dl>

				</div>
				<div class="clist-ad fr"> <img src="__PUBLIC__/images/ads2.jpg" /> </div>
			</div>
		</div>
	</div>
</div>


<div class="section">
  <div class="w">
    <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
		<input type="hidden" name="action" value="post" />
		<input type="hidden" name="diyid" value="1" />
		<input type="hidden" name="do" value="2" />
		<input type="hidden" name="dede_fields" value="username,text;shenfen,text;tel,text;qq,text;style,radio;email,text;sfzz,img;sfzf,img;yhkzm,img;scsfz,img;khyh,select;yhkfm,img" />
		<input type="hidden" name="dede_fieldshash" value="6b88b5c21977758fc3593135ee3c7b10" />
		<div class="regbox">
			<dl>
				<dt>姓名：</dt>
				<dd>
					<input type="text" name="username" id="k_name" class="itext" placeholder="请输入您的姓名"  />
				</dd>
			</dl>
			<dl>
				<dt>手机：</dt>
				<dd>
					<input type="text" name="tel" id="k_tel" class="itext" placeholder="请输入您的手机号" />
				</dd>
			</dl>
			<dl>
				<dt>邀请码：</dt>
				<dd>
					<input type="text" placeholder="请输入手机验证码"  class="itext" value="888888" />
					<!-- <input type="button" value="获取验证码" class="ivery" /> -->
				</dd>
			</dl>
			<dd>
				<dt></dt>
				<dd>
					<input type='submit' name='submit' value="立即领取100万模拟金" id="isubmit" class="isubmit" />
				</dd>
			</dd>
		</div>
    </form>
  </div>
</div>


<div class="section" style="margin-bottom:30px">
	<div class="w">
		<div class="mod">
			<div class="hd"><h2>合作银行</h2></div>
			<div class="bd fix">
				<div class="flink">
					<ul>
						<li><a href='/' target='_blank'><img src='__PUBLIC__/images/jt.jpg' width='88' height='31' border='0'></a> </li>
						<li><a href='/' target='_blank'><img src='__PUBLIC__/images/js.png' width='88' height='31' border='0'></a> </li>
						<li><a href='/' target='_blank'><img src='__PUBLIC__/images/zg.jpg' width='88' height='31' border='0'></a> </li>
						<li><a href='/' target='_blank'><img src='__PUBLIC__/images/xy.jpg' width='88' height='31' border='0'></a> </li>
						<li><a href='/' target='_blank'><img src='__PUBLIC__/images/hx.jpg' width='88' height='31' border='0'></a> </li>
						<li><a href='/' target='_blank'><img src='__PUBLIC__/images/zs.jpg' width='88' height='31' border='0'></a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="dailogs">
	<div class="inner">
		<form action="{:U('Plus/Diy/addInformalCustomer')}" enctype="multipart/form-data" method="post">
			<input type="hidden" name="action" value="post" />
			<input type="hidden" name="diyid" value="1" />
			<input type="hidden" name="do" value="2" />
			<input type="hidden" name="dede_fields" value="username,text;shenfen,text;tel,text;qq,text;style,radio;email,text;sfzz,img;sfzf,img;yhkzm,img;scsfz,img;khyh,select;yhkfm,img" />
			<input type="hidden" name="dede_fieldshash" value="6b88b5c21977758fc3593135ee3c7b10" />
			<div class="regbox">
				<dl>
					<dt>姓名：</dt>
					<dd>
						<input type="text" name="username" id="name" class="itext" placeholder="请输入您的姓名"  />
					</dd>
				</dl>
				<dl>
					<dt>手机：</dt>
					<dd>
						<input type="text" name="tel" id="tel" class="itext" placeholder="请输入您的手机号" />
					</dd>
				</dl>
				<dd>
					<dt></dt>
					<dd>
						<input type='submit' name='submit' value="预约开户" id="dailogSubmit" class="isubmit" />
					</dd>
				</dd>
			</div>
		</form>
		<a href="javascript:;" class="iclose"></a> 
	</div>
</div>


<div class="footer">
	<div class="w">
		<div class="copyright">
			<p class="i-first">咨询热线：<span>021-61994198</span></p>
			<p>Copyright &copy; 2015-2017 外汇网-专业外汇交易开户平台 版权所有</p>
			<p>投资有风险 · 入市需谨慎</p>
                        <p><script language="javascript" type="text/javascript" src="//js.users.51.la/19197988.js"></script></p>
			<p>外汇网致力于为投资者提供安全可靠的国际外汇交易开户平台，全面的汇市投资资讯和外汇学习资料，专业的名家每日行情分析和操作建议，外汇交易软件下载和外汇模拟账户申请，各大直盘和交叉盘货币最新报价以及价格走势等服务。
</p>
		</div>
	</div>
</div>



<div class="floating_ck">
	<dl>
    	<dt></dt><a target="_blank" rel="external nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=303555158&site=qq&menu=yes">
        <dd class="consult">
        	<span><b>在线咨询</b></span>
        </dd></a><a target="_blank" href="/">
        <dd class="words">
        	<span><b>模拟账户</b></span>
        </dd></a><a target="_blank" href="/">
        <dd class="quote">
        	<span><B>真实账户</B></span>
        </dd></a>
        <dd class="qrcord">
        	<span><B>扫一扫</B></span>
            <div class="floating_left floating_ewm">
            	<i></i>
                <p class="qrcord_p01">扫一扫<br>免费送牛股</p>
                <p class="qrcord_p02">全国客户服务热线<br><b>021-61994198<b></p>
            </div>
        </dd>
        <dd class="return">
        	<span onClick="gotoTop();return false;">返回顶部</span>
        </dd>
    </dl>
</div>

<!--控制导航下拉菜单-->
<script>
jQuery(".slider").slide({mainCell:"ul", effect:"fold", autoPlay:true,vis:1, interTime:5000});
jQuery(".custome-wrap").slide({mainCell:".custome-list", effect:"fold", autoPlay:true,vis:1, interTime:3000});
$("#nav ul").parent().hover(function(){
	$(this).addClass("current").find("ul").show().parent().siblings().removeClass("current").find("ul").hide("fast");
	},function(){
	$(this).removeClass("current").find("ul").hide();
});
</script>


<!-- <script language="javascript" src="http://api.pop800.com/800.js?n=227972&amp;s=01&amp;p=l&amp;l=cn"></script> -->

<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

友情链接：  <a href='http://www.waihuiwang.net/sitemap/index.html' target='_blank'>外汇网 网站地图</a>     <a href='http://www.waihuiwang.net/' target='_blank'>外汇网平台</a>     <a href='http://www.waihuiwang.net/ruanjian/' target='_blank'>外汇平台软件下载</a>     <a href='http://www.waihuiwang.net/kaihu/' target='_blank'>外汇网开户</a>     <a href='http://www.shzxzbw.com/' target='_blank'>装修报价表</a>     <a href='http://www.zhfjys.com/' target='_blank'>上海华通铂银交易市场</a>     <a href='http://www.hsspjys.com/' target='_blank'>迈鸿大宗</a>     <a href='http://www.dzspjyzx.cn' target='_blank'>大连金普新区商品现货交易中心</a>     <a href='http://www.insin.cn/' target='_blank'>湖南迈鸿大宗官网</a>     <a href='http://www.cngkfx.com/' target='_blank'>捷凯金融</a>     <a href='http://www.xsdzspjyzx.cn/' target='_blank'>兴蜀大宗官网</a>     <a href='http://www.qimo-th.com/' target='_blank'>巨型气球</a>     <a href='http://www.spjys.com.cn/' target='_blank'>青岛港航联合商品贸易场</a>   

<!--控制表单-->

<script>
//预约开户弹出框
$('.appointment').on('click', function(){
	$('.dailogs').css('display','block');
});

$('.iclose').on('click', function(){
	$('.dailogs').css('display','none');
});

//预约开户弹出窗口控制
$('#dailogSubmit').on('click', function(){
var name=$("#name").val();
var len=parseInt((name).length);
var tel=$("#tel").val();
var reg=/^1[3|5|8|4|7]\d{9}$/;
if(name == ''){
	alert("请填写姓名");
	return false;
	}else{
	if(len < 2){
	alert("姓名至少是两位数");
	return false;
		}
		
	if(tel == '' ){
	alert('请输入手机号码');
	return false;
	}		
	
	if(tel != '' && !reg.test(tel)){
	alert('请输入有效的手机号码');
	return false;
	}
	
	}
});

//底部预约开户控制
$('#isubmit').on('click', function(){
var name=$("#k_name").val();
var len=parseInt((name).length);
var tel=$("#k_tel").val();
var reg=/^1[3|5|8|4|7]\d{9}$/;
if(name == ''){
	alert("请填写姓名");
	return false;
	}else{
	if(len < 2){
	alert("姓名至少是两位数");
	return false;
		}
		
	if(tel == '' ){
	alert('请输入手机号码');
	return false;
	}		
	
	if(tel != '' && !reg.test(tel)){
	alert('请输入有效的手机号码');
	return false;
	}
	
	}
});

$(function () {
    if ($("#js_ads_banner_top_slide").length) {
        var $slidebannertop = $("#js_ads_banner_top_slide"),
            $bannertop = $("#js_ads_banner_top");
        setTimeout(function () {
            //$bannertop.slideUp(1000);
            $slidebannertop.slideDown(1000, function () {
                $(window).trigger("resize");
            });
        }, 1000);
        setTimeout(function () {
            $slidebannertop.slideUp(1000, function () {

                $bannertop.slideDown(1000, function () {
                    $(window).trigger("resize");
                })
            });

        }, 8000);
    }
});
</script>


</body>
</html>